@font-face {
    font-family: 'Palette Mosaic';
    src: local('Palette Mosaic'), url(../fonts/PaletteMosaic-Regular.ttf) format('truetype');
}

h1 {
    font-family: 'Palette Mosaic';
    font-weight: 200;
    color: #0ccac4;
}
  